:root {
    /* colors */
    --colour-text: #fff;
    --colour-primary: #576cbc;
    --colour-secondary: #19376d;
    --colour-dark: #0b2447;
    --colour-bg: #04152d;

    /*fonts*/
    --font-robot: "Roboto";




}